@charset "UTF-8";
/* font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@300;400;700&display=swap");
@font-face {
  font-family: "SSTpro";
  src: url("font/sstpro-bold.woff2");
}
@font-face {
  font-family: "SSTpro";
  src: url("font/sstpro-light.woff2");
}
@font-face {
  font-family: "SSTpro";
  src: url("font/sstpro-medium.woff2");
}
@font-face {
  font-family: "Segoe UI";
  src: url("font/Segoe UI.ttf");
}
@font-face {
  font-family: "Segoe UI";
  src: url("font/Segoe UI Bold.ttf");
}
@font-face {
  font-family: "Segoe UI";
  src: url("font/Segoe UI Bold Italic.ttf");
}
@font-face {
  font-family: "Segoe UI";
  src: url("font/Segoe UI Italic.ttf");
}
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  color: black;
  text-decoration: none;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  font-size: inherit;
  border-radius: 0;
  background: none;
  border: none;
}

body {
  min-width: 320px;
  display: block;
  font-family: "SSTPro", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* no*/
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.025em;
  color: #666;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #000;
}

/* 공통클래스 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1920px;
  margin: 0 auto;
}

.wrap {
  /* header */
  /* main */
  /* footer */
}
.wrap .header {
  position: absolute;
  display: block;
  height: 80px;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  background-color: #000;
  z-index: 9999;
}
.wrap .header .inner {
  position: relative;
  display: block;
  max-width: 1920px;
  margin: 0 auto;
}
.wrap .header .inner::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -22px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #666;
}
.wrap .header .inner .logo {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 20px;
  padding: 30px 0;
  font-size: 0;
}
.wrap .header .inner .gnb {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
  display: block;
  width: 1000px;
  height: 450px;
  margin: 0 auto;
}
.wrap .header .inner .gnb .depth1 {
  position: relative;
  display: table;
  table-layout: fixed;
}
.wrap .header .inner .gnb .depth1 > li {
  position: relative;
  display: table-cell;
  width: 200px;
}
.wrap .header .inner .gnb .depth1 > li:hover > a {
  color: #5865f5;
}
.wrap .header .inner .gnb .depth1 > li::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  display: block;
  width: 200px;
  height: 3px;
  background-color: #5865f5;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 999;
}
.wrap .header .inner .gnb .depth1 > li:hover::after {
  opacity: 1;
}
.wrap .header .inner .gnb .depth1 > li > a {
  position: relative;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding: 25px 0;
  color: #fff;
}
.wrap .header .inner .gnb .depth1 > li .depth2 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}
.wrap .header .inner .gnb .depth1 > li .depth2 li {
  float: left;
}
.wrap .header .inner .gnb .depth1 > li .depth2 li a {
  position: relative;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 3;
  width: 200px;
  color: #ccc;
}
.wrap .header .inner .gnb .depth1 > li .depth2 li a:hover {
  color: #5865f5;
}
.wrap .header .inner .menu {
  position: absolute;
  right: 10px;
  top: 25px;
  display: inline-block;
  width: 150px;
  height: 27px;
  font-size: 0;
}
.wrap .header .inner .menu .search-btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../images/ic_search.svg");
  background-size: cover;
  margin-right: 23px;
}
.wrap .header .inner .menu .login-btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../images/ic_mypage.svg");
  background-size: cover;
  margin-right: 23px;
}
.wrap .header .inner .menu .cart-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../images/ic_cart.svg");
  background-size: cover;
  vertical-align: top;
  margin-right: 23px;
}
.wrap .main {
  width: 100%;
  /* visual */
  /* signature */
  /* event */
  /* product */
  /* banner */
  /* help */
}
.wrap .main .main-wrap {
  width: 1920px;
  height: 100%;
  margin: 0 auto;
}
.wrap .main .visual .swiper-container {
  width: 100%;
  max-height: 1000px;
}
.wrap .main .visual .swiper-container .swiper-wrapper {
  height: 1200px;
}
.wrap .main .visual .swiper-container .swiper-wrapper .swiper-slide {
  overflow: hidden;
  height: calc(100vh - 80px);
  min-height: 600px;
  max-height: 1200px;
  background-position: 50%;
  background-size: cover;
}
.wrap .main .visual .swiper-container .swiper-wrapper .sw-bg-2 .sw-video-2 {
  width: 100%;
}
.wrap .main .visual .swiper-container .swiper-wrapper .sw-bg-3 {
  position: relative;
  display: block;
  background: url("../images/visual_3.jpeg") no-repeat center;
  background-size: cover;
  width: 1920px;
  height: 1000px;
}
.wrap .main .visual .swiper-container .swiper-wrapper .sw-bg-4 {
  position: relative;
  display: block;
  background: url("../images/visual_4.jpeg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.wrap .main .visual .swiper-container .swiper-pagination {
  position: absolute;
  left: auto;
  right: 40px;
  width: auto;
  font-size: 16px;
}
.wrap .main .visual .swiper-container .swiper-pagination .swiper-pagination-current {
  font-weight: 700;
  color: #fff;
}
.wrap .main .visual .swiper-container .swiper-pagination .swiper-pagination-total {
  color: #666;
}
.wrap .main .visual .swiper-container .swiper-pagination .swiper-pagination-total::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 1px;
  margin: 0 4px;
  vertical-align: baseline;
  background-color: #666;
}
.wrap .main .signature {
  position: relative;
  max-width: 1920px;
  height: calc(100vh - 80px);
  min-height: 940px;
  max-height: 1080px;
  background-color: #f4f4f4;
  overflow: hidden;
}
.wrap .main .signature .inner {
  position: relative;
  display: block;
}
.wrap .main .swiper {
  display: initial;
}
.wrap .main .sw-signature-left {
  display: inline-block;
  width: 49.9%;
  /* background-color: red; */
}
.wrap .main .sw-signature-right {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 49.9%;
  background-color: #f4f4f4;
  margin: 0;
}
.wrap .main .sw-signature-right {
  padding-left: 100px;
}
.wrap .main .slide-title {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  overflow: hidden;
  margin: 90px 0px;
}
.wrap .main .subsig-bg-1 {
  position: relative;
  display: block;
  background: url("../images/signature-items-1.png") no-repeat center;
  background-size: cover;
  background-color: #fff;
  width: 600px;
  height: 500px;
}
.wrap .main .subsig-bg-2 {
  position: relative;
  display: block;
  background: url("../images/signature-items-2.png") no-repeat center;
  background-size: cover;
  background-color: #fff;
  width: 600px;
  height: 500px;
}
.wrap .main .subsig-bg-3 {
  position: relative;
  display: block;
  background: url("../images/signature-items-3.png") no-repeat center;
  background-size: cover;
  background-color: #fff;
  width: 600px;
  height: 500px;
}
.wrap .main .subsig-bg-4 {
  position: relative;
  display: block;
  background: url("../images/signature-items-4.png") no-repeat center;
  background-size: cover;
  background-color: #fff;
  width: 600px;
  height: 500px;
}
.wrap .main .slide-subtitle {
  margin-top: 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  color: #222;
}
.wrap .main .slide-txt {
  margin-top: 4px;
  font-size: 18px;
  color: #666;
}
.wrap .main .swiper-scrollbar {
  position: absolute;
  display: block;
  width: 200px;
  height: 3px;
  bottom: 0;
  right: 20px;
}
.wrap .main .event .inner {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  padding-left: 20px;
  padding-right: 25px;
}
.wrap .main .event .inner .event-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}
.wrap .main .event .inner .event-items {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.wrap .main .event .inner .event-items .event-items-1 > a {
  background: url("../images/event-bg-1.jpeg") no-repeat center;
  background-size: cover;
  display: block;
  width: 1872px;
  height: 608px;
  padding: 150px 300px;
  margin-bottom: 34px;
}
.wrap .main .event .inner .event-items .event-items-1 > a .items-index {
  margin-top: 110px;
}
.wrap .main .event .inner .event-items .event-items-1 > a .items-index > h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 8px;
  color: #222;
}
.wrap .main .event .inner .event-items .event-items-1 > a .items-index > p {
  font-size: 18px;
  line-height: 1.4;
  color: #666;
}
.wrap .main .event .inner .event-items .event-items-list > li {
  position: relative;
  float: left;
  width: 33.3333333333%;
}
.wrap .main .event .inner .event-items .event-items-list > li > a {
  display: block;
  width: 100%;
}
.wrap .main .event .inner .event-items .event-items-list > li > a .event-item-desc {
  position: absolute;
  left: 48px;
  bottom: 48px;
  right: 48px;
}
.wrap .main .event .inner .event-items .event-items-list > li > a .event-item-desc h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.37;
  letter-spacing: -0.025em;
  color: #222;
}
.wrap .main .event .inner .event-items .event-items-list > li > a .event-item-desc p {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.025em;
  color: #666;
}
.wrap .main .product {
  padding: 116px 0 36px;
  background-color: #f4f4f4;
}
.wrap .main .product .inner .title {
  display: block;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 1.4;
  color: #222;
}
.wrap .main .product .inner .product-list li {
  float: left;
  width: 25%;
}
.wrap .main .product .inner .product-list li a {
  position: relative;
  display: block;
  width: 400px;
  height: 400px;
  font-size: 30px;
  font-weight: 500;
  background-size: cover;
  background-position: 10vw 40px;
  text-decoration: none;
  transition: background 0.2s ease-out;
}
.wrap .main .product .inner .product-list li a:hover {
  background-position-x: 50%;
  background-color: #5865f5;
}
.wrap .main .product .inner .product-list li .product-camera {
  background: url("../images/main_prod_camera.24473fcf.png") no-repeat;
}
.wrap .main .product .inner .product-list li .product-videocamera {
  background: url("../images/main_prod_camera.24473fcf.png") no-repeat;
}
.wrap .main .product .inner .product-list li .product-audio {
  background: url("../images/main_prod_camera.24473fcf.png") no-repeat;
}
.wrap .main .product .inner .product-list li .product-playstation {
  background: url("../images/main_prod_camera.24473fcf.png") no-repeat;
}/*# sourceMappingURL=main.css.map */